.legend1{
    font-size:30px!important;
    border: 1px solid #000!important;
    border-radius:50%!important;
    color: #fff!important;
    background-color: rgb(13, 85, 255)!important;
    width: 50px !important;
    height: 50px !important;
    line-height: 25px !important;
    opacity: 1;
    // margin-left: 1px!important;
}
.legend1:hover{
    opacity: 0.75;
}